
<div class="col-md-4">
    <article-listing [configs]="{hidden:false}"></article-listing>
</div>
<div class="col-md-8">

  <app-ranking-list></app-ranking-list>

  <div style="padding:12px 5px;margin-left:16px;background:#fff; margin-top:120px; clear:both;">
 <iframe frameborder="0" style="border:none;width:573px;height:66px;overflow:hidden" scrolling="no" src="http://www.taobao.com/go/app/tdjwidget/tm_search.php?w=unionapijs&amp;pvid=2719df58c81007a71ab2bf8aedf7bc32&amp;b=display_601_0_0_0_0&amp;pid=mm_16150248_25804687_146850326&amp;unid=1&amp;width=573&amp;height=66&amp;s_logo=1&amp;s_hot=1"></iframe>
 </div>
</div>
